<mat-toolbar>
    <div class="container toolbar-icons">
        <button (click)="showSideBar()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <img src="https://cutecars-dev.web.app/image/menu.png" alt="menu">
        </button>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <img src="https://cutecars-dev.web.app/image/icon11.png" alt="search">
        </button>
        <span>
            <img src="https://cutecars-dev.web.app/image/logo.png" alt="logo">
        </span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <img src="https://cutecars-dev.web.app/image/nonotify-icon.png" alt="notify">
        </button>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <img src="https://cutecars-dev.web.app/image/header-icon3.png" alt="profile">
        </button>
    </div>
</mat-toolbar>